<footer>
  <p>&copy; 2026 AllIndiaJobs. |
    <a routerLink="/about-us" class="disabled-link">About Us</a> |
    <a routerLink="/contact-us" class="disabled-link">Contact Us</a> |
    <a routerLink="/privacy-policy" class="disabled-link">Privacy Policy</a> |
    <a routerLink="/terms-and-conditions" class="disabled-link">Terms</a> |
    <a routerLink="/disclaimer" class="disabled-link">Disclaimer</a> |
    Website deployed by 
    <a href="#" class="footer-link disabled-link">Rdmwebtech</a>
  </p>
</footer>
