<header>
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <div class="container-fluid">
      <a routerLink="/" class="navbar-brand logo">
        <div class="logo-container">
          <i class="bi bi-lightning-charge-fill logo-icon"></i>
          <div class="logo-text-wrapper">
            <span class="logo-main">AllIndia</span>
            <span class="logo-sub">Jobs.com</span>
            <span class="logo-telugu">తెలుగు అప్‌డేట్స్ జాబ్ పోర్టల్</span>
          </div>
        </div>
      </a>
      <div class="ms-auto d-flex flex-column align-items-end social-header-wrapper">
       
        <div class="d-flex align-items-center gap-2 social-header-icons">
           <span class="follow-text">Follow:</span>
          <button class="header-social-btn mini-yt" (click)="openExternalChannel('https://www.youtube.com/@allindajobs')" title="YouTube">
            <i class="bi bi-youtube"></i>
          </button>
          <button class="header-social-btn mini-wa" (click)="openExternalChannel('https://whatsapp.com/channel/0029VbCLJWjCRs1nIKjUlh3p')" title="WhatsApp">
            <i class="bi bi-whatsapp"></i>
          </button>
          <button class="header-social-btn mini-fb" (click)="openExternalChannel('https://www.facebook.com/share/17yHma5rhP/')" title="Facebook">
            <i class="bi bi-facebook"></i>
          </button>
          <button class="header-social-btn mini-ig" (click)="openExternalChannel('https://www.instagram.com/allindajobs?igsh=MXJxeWl4NXdmeDVtdg==')" title="Instagram">
            <i class="bi bi-instagram"></i>
          </button>
        </div>
      </div>
    </div>
  </nav>
</header>
