<header>
  <nav>
    <a routerLink="/" class="logo">allindianjobs</a>
    <div class="nav-links">
      <a routerLink="/all-latest-jobs">All Latest Jobs</a>
      <a routerLink="/government-jobs">Government Jobs</a>
      <a routerLink="/it-software-jobs">IT/Software Jobs</a>
      <a routerLink="/banking-finance-jobs">Banking/Finance Jobs</a>
      <a routerLink="/walk-in-drive-jobs">Walk-in Drive Jobs</a>
      <a routerLink="/login">Login</a>
    </div>
    <button class="hamburger" (click)="toggleNav()">&#9776;</button>
  </nav>
</header>
